# App URL (used for frontend links)
VITE_APP_URL=https://your-domain.com

# Android APK URL (optional). If empty, server default GitHub APK URL is used.
VITE_APK_URL=https://github.com/AleemKanyu/PocketCraft/releases/download/v.0.0.1-Beta/PocketCraft.apk

# Port (Hostinger will assign automatically, default: 3000)
PORT=3000
