app/src/main/lib/modules filter=lfs diff=lfs merge=lfs -text
app/src/main/jniLibs/arm64-v8a/libjvm.so filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.aab filter=lfs diff=lfs merge=lfs -text
